{%extends './Layout.html' %}
{% block title %}Modificar asunto{% endblock %}
{% block body %}
<h1>Registre los datos para modificar el asunto</h1>
<form action="/Mod_Ast" method="post" id="Mod_Ast">
    <fieldset>
        <label>Asunto anterior:
        <input type="text" name="An_Asunto" placeholder="Ingrese el asunto">
        <label>Nuevo asunto:
            <input type="text" name="Nuv_Asunto" placeholder="Ingrese el asunto">
    </fieldset>
</form>
<br>
<button type="submit" form="Mod_Ast">Modificar</button>
<a href="/Adm" target="_self">
    <button>Regresar a la pagina de administradores</button>
  </a>
{% endblock %}