{%extends './Layout.html' %}
{% block title %}Pagina administradores{% endblock %}
{% block body %}
<h1>Bienvenido </h1>
<h2> ¿Qué operación desea realizar?</h2>
<fieldset>
    <label> Eliminar una cita
    <a href="/Elim_Cita" target="_self">
        <button>Eliminar</button>
      </a>

      <label> Crear una cita 
        <a href="/CTT" target="_self">
            <button>Crear</button>
          </a>

          <label> Modificar una cita
            <a href="/MTE" target="_self">
                <button>Modificar</button>
              </a>

              <label> Cambiar estado de una cita
                <a href="/MTE" target="_self">
                    <button>Cambiar</button>
                  </a>
</fieldset>
<a href="/" target="_self">
    <button>Regresar al inicio</button>
  </a>

  <a href="/logout" target="_self">
    <button>Cerrar sesión </button>
  </a>
{% endblock %}